<!DOCTYPE html>
<html>
<head>
	<title>Welcome to JEE Portal</title>
</head>
<body>
	<h3>Welcome to JEE Choice Filling Portal</h3><br>
	<p>Please Login or Register to continue</p><br>
	<div id="login">
	<form action="" method="post">
		{% csrf_token %}
        {{ form }}
        <input type="submit" value="Login">
    </form>
    <form action="/register/" >
    	{% csrf_token %}
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="submit" value="Register">
    </form>
    </div>
</body>
</html>