<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
</head>
<body>
	
	{% if errors %}
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

	<div id="register">
	<form action= "" method="post">
    	 Roll number: <input type="text" name="roll"><br>
    	 Passkey: <input type="text" name="passkey"><br>
    	 Password:    <input type="password" name="passwd"><br>
    	 Confirm Password: <input type="password" name="cpasswd"><br>		<!-- Proper addition of error in errorlist for same password-->
    	 {% csrf_token %}
    	 <input type="submit" value="Submit"><br>
    </form>
    </div>
</body>
</html>